.section-solutions {
    color: white;
    /*padding-bottom: 2.3rem;*/
}

.solutions-container {
    background: var(--primary-color-dark);
    margin: 0 2rem;
    border-radius: 2px;
    padding-bottom: 2rem;
}

.solutions-container h1 {
    font-size: 3.6rem;
    padding: 2rem;
    text-align: center;
}

.solutions-container p {
    font-size: 1.8rem;
    text-align: center;
    padding-bottom: 3.8rem;
}