* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    line-height: 1;
}

html {
    font-size: 62.5%;
}

.container {
    max-width: 130rem;
    padding: 0 3.2rem;
    margin: 0 auto;

    /*margin-bottom: 9.6rem;*/
}


:root {
    --primary-color-400: #1AB7EA;
    --primary-color-900: #0066A4;
    --primary-color-300: #5eead4;
    --secondary-color-500: #D946EF;
    --dark-color-900: rgb(30,32,39);
    --text-light-100: #eee;
    --primary-color-dark: #083746;
}

.grid {
    display: grid;
}

.grid-2-cols {
    grid-template-columns: 1fr 1fr;
}

.grid-3-cols {
    grid-template-columns: repeat(3, 1fr);
}

.grid-4-cols {
    grid-template-columns: repeat(4, 1fr);
}

.text-center {
    text-align: center;
}

.diagonal-box {
    position: relative;
    /*background-image: linear-gradient(45deg, #654ea3, #eaafc8);*/
    /*background-color: var(--dark-color-900);*/
    padding-bottom: 12rem;
    /*margin-bottom: 20rem;*/
}

.diagonal-box--slash {
    position: relative;
    /*background-image: linear-gradient(45deg, #654ea3, #eaafc8);*/
    /*background-color: var(--dark-color-900);*/
    padding-bottom: 12rem;
    /*margin-bottom: 20rem;*/
}

.diagonal-box::before {
    content: "";
    position: absolute;
    /*padding: 30rem;*/
    /*background-color: red;*/
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

    transform: skewY(-8deg);
}

.diagonal-box--slash::before {
    content: "";
    position: absolute;
    /*padding: 30rem;*/
    /*background-color: red;*/

    height: 100%;
    top: -15rem;
    left: 0;
    right: 0;
    bottom: 0;

    transform: skewY(-8deg);
    /*background-color: var(--text-light-100);*/
}


.diagonal-box--dark::before {
    background-color: var(--dark-color-900);
}

.diagonal-box--light::before {
    background-color: var(--text-light-100);
}

.diagonal-box--test::before {
    background-color: #24262c;
}

.diagonal-box-content {
    max-width: 130em;
    margin: 0 auto;
    padding: 0 3.2rem;
    position: relative;

    padding-top: 18rem;
}

.diagonal-box-content:last-child{
    /*padding-bottom: 20rem;*/
}

.diagonal-box-content {
}

.pos-relative {
    position: relative;
}